<h1>Top#index</h1>

<strong><%= link_to "カード新規登録", new_card_path %></strong>
<strong><%= link_to "サブスク登録", purchases_index_path %></strong>
<strong><%= link_to "診断へ", recruitments_index_path %></strong>
