.login {
  width: 500px;
  height: 470px;
  margin: 60px auto 60px auto;
  text-align: center; 
  background-color: #ffffff;
}

.login-title{
  font-size: 24px;
  color: #000000;
  font-family: "ヒラギノ角ゴ Pro W8";
  font-weight: bold;
  padding:20px 0px 0px 0px;
  margin:10px 0px 10px 0px;
}

.field {
  font-size: 13px;
  color: #000000;
  font-family: "ヒラギノ角ゴ Pro W8";
  // font-weight: bold;
  margin:15px 0px 10px 0px;
}

.box-email label, .box-password label {
  font-weight: 700;
  // font-size: 13px;
  padding-left: 2px;
  padding-bottom: 2px;
}

.box-email input[type="email"], .box-password input[type="password"] {
  border-style: none;
  box-sizing: border-box;
  width: 300px;
  height: 31px;
  border: 1px solid #a6a6a6;
  box-shadow: 0 1px 0 rgba(0,0,0,.07) inset;
  border-radius: 3px;
  padding: 0 7px;
}

.remember {
  // font-weight: bold;
}

.btn-color5 {
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  height: 50px;
  width: 150px;
  color: #fff;
  background: #eb6877;
  -webkit-box-shadow: 0 7px 0 #e53b4e;
  box-shadow: 0 7px 0 #e53b4e;
  font-family: "ヒラギノ角ゴ Pro W6";
  transition: 0.3s;
  outline: none;
  border: none;
  letter-spacing: 0.1em;
  border-radius: 0.5rem;
  font-size: 16px;
  text-align: center;
  margin:10px 0px 10px 0px;
}

.btn-color5:hover {
  -webkit-transform: translate(0, 4px);
  transform: translate(0, 4px);
  color: #fff;
  -webkit-box-shadow: 0 3px 0 #e53b4e;
  box-shadow: 0 3px 0 #e53b4e;
}

.pass-loss {
  font-size: 14px;
  color: #000000;
  font-family: "ヒラギノ角ゴ Pro W8";
  margin:20px 0px 20px 0px;
}

.signup-path p {
  text-align: center;
  font-size: 12px;
  color: #767676;
  margin-bottom: 14px;
}

.signup-path p span {
  text-decoration: line-through;
  text-decoration-color: #e7e7e7;
}

.signup-path a {
  margin: 20px auto 10px auto;
  display: block;
  width: 150px;
  height: 31px;
  font-size: 13px;
  color: #111;
  line-height: 31px;
  text-align: center;
  background: linear-gradient(to bottom,#f7f8fa,#e7e9ec);
  border-radius: 3px;
  border: 1px #a2a6ac solid;
}

.signup-path a:hover {
  background: #e7e9ec;
} 